:root {
  --color-brown-dark: #4e2c23; /* ← usa el hex exacto que tenías */
}
html {
  scroll-behavior: smooth;
}

.diagonal-top {
  clip-path: polygon(0 0, 100% 6vw, 100% 100%, 0 100%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
